body, html{
  background-color: black;
}


.typewriter {
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 230px;
  color: white;
  background-color: black;

  padding-left: 30px;
}



.typewriter::after {
  content: "|"; /* You can change this to "_" or "/" if preferred */
  animation: blink 1s step-start infinite;
  margin-left: 5px;

}

@keyframes blink {
  50% {
    opacity: 0;
  }
}



